.technologyTree {
	width: 967px;
	height: 928px;
	background-image: url(tree.png);
	background-position: -56px 96px;
	background-repeat: no-repeat;
	position: relative;
	overflow: hidden;
}

.technologyTree .body {
	width: 100%;
	height: auto;
	position: relative;
}

.technologyTree .body div {
	width: 204px;
	height: 62px;
	text-align: center;
	position: absolute;
	background-color: rgba(0,0,0,0.4);
	border-radius: 2px;
	cursor: pointer;
}

.technologyTree .body div p {
	width: 100%;
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;

	color: #FFFFFF;
}

.technologyTree .body div p:nth-child(1) {
	font-size: 20px;
	height: 32px;
	line-height: 32px;
}

.technologyTree .body div p:nth-child(2) {
	font-size: 17px;
	height: 30px;
	line-height: 30px;
}

.technologyTree .foot {
	width: 100%;
	height: auto;
	position: relative;
}

.technologyTree .foot div {
	width: 130px;
	height: 130px;
	border-radius: 50%;
	position: absolute;
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto; 
}

.technologyTree .foot div::before {
	position: absolute;
	left: 71px;
	top: -5px;
	content: '';
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background-color: #FFFFFF;
	filter: blur(4px);
}

.technologyTree .foot div:after {
	position: absolute;
	left: 27px;
	bottom: -2px;
	content: '';
	width: 40px;
	height: 1px;
	border-radius: 50%;
	background-color: #FFFFFF;
	filter: blur(6px);
	border: 1px solid #FFFFFF;
}

.technologyTree .foot div p {
	text-align: center;
}

.technologyTree .foot div p:nth-child(1) {
	font-size: 20px;
	margin-top: 35px;
	padding: 0 10px;
	box-sizing: border-box;
}

.technologyTree .foot div p:nth-child(2) {
	font-size: 20px;
	color: #FFFFFF;
}
